body {
    margin: 0
}

#container {
    display: flex;
    padding: .5em 0;
    flex-wrap: wrap;
    height: 50em;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}

.entry {
    padding: 1rem;
    margin-bottom: .5rem;
}

.studentScreen {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 40em;
    min-height: 50em;
    min-width: 20em;
    height: 50em;
    resize: both;
    border-radius: .5em;
    border: 1px solid black;
    flex-direction: column;
    background-image: url("./resize.png");
    background-size: 100% 100%;
    padding: 1em;
    margin-bottom: .5em;
    margin-left: .5em;
}

.embed {
    width: 100%;
    flex: 1 1 auto;
    box-shadow: 0 0 .2rem black;
    border-radius: .5rem;
}

.entryTextBorder {
    border: 1px solid darkslategray;
    border-radius: .5rem;
    overflow: hidden;
    flex: 1 1 auto;
}

.entryText {
    width: 10em;
    height: 20em;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    line-height: 1.5em;
    padding-left: .2rem;
}

.screenTitle {
    position: relative;
    margin-top: 0;
    margin-bottom: .5em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#entryHolder {
    display: flex;
}

#entryOuter {
    margin-top: 0;
    background-color: pink;
    margin-bottom: .5em;
    border-radius: .5em;
    border: 1px black solid;
    margin-left: .5em;
}

#showHide {
    border: 1px solid gray;
    display: inline-block;
    border-radius: .4em;
    background-color: lightgray;
    margin: .2em;
    padding: .2em .5em;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    box-shadow: 0px 1px 0 gray;
}

#showHide:hover {
    background-color: darkgray;
}

#showHide:active {
    box-shadow: 0px 2px 0 darkgray;
    margin-top: .3em;
    margin-bottom: .1em;
}

#showHideContainer {
    text-align: center;
    margin: 0;
}

#instructions {
    border-bottom: 1px dashed black;
}

.inPink {
    width: 22rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
    font-size: .8rem;
}

.screenTitle a {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 50%;
}

#refreshAllParagraph {
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
}

#refreshAllLink {
    font-size: 80%;
    margin-left: auto;
}

#saveLoadControls {
    border: 1px darkslategray solid;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#saveLoadControls p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#saveLoadControls p input, #saveLoadControls p select {
    flex: 1 1 auto;
    margin-left: .1rem;
    margin-right: .1rem;
}

#saveLoadControls p button {
    flex: 0;
    margin-left: .1rem;
    margin-right: .1rem;
    white-space: nowrap;
}